<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="imlonghao">

    <title>ShadowSocks公益组织 | ShadowSocks公益组织是一个由民间团体发起的，旨在分享ShadowSocks帐号</title>
    <meta name="description" content="ShadowSocks公益组织是一个由民间团体发起的，旨在分享ShadowSocks帐号" />
    <meta name="keywords" content="ShadowSocks,ShadowSocks公益,ShadowSocks公益组织,ShadowSocks帐号,ShadowSocks教程" />

    <link href="static/bootstrap.css" rel="stylesheet">
    <link href="static/jumbotron-narrow.css" rel="stylesheet">
    
    <!--[if lt IE 9]>
      <script src="static/html5shiv.min.js"></script>
      <script src="static/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">首页</a></li>
          <li><a href="get">获取</a></li>
          <li><a href="share">分享</a></li>
          <li><a href="link">链接</a></li>
          <li><a href="https://blog.shadowsocks.net/">博客</a></li>
        </ul>
        <h3 class="text-muted">ShadowSocks公益组织</h3>
      </div>

      <div class="jumbotron">
        <h1>这是个什么网站？</h1>
        <p class="lead">ShadowSocks公益组织是一个由民间团体发起的，旨在分享ShadowSocks帐号、ShadowSocks教程以及其他关于ShadowSocks的信息</p>
        <p><a class="btn btn-lg btn-success" href="get" role="button">获取账号</a></p>
	<p><a class="btn btn-lh btn-info" href="static/ShadowSocks.NET.exe" role="button" onclick="win()">获取客户端<small>(测试版)</small></a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>全球</h4>
          <p>我们收到了遍布全球的ShadowSocks账号分享，美国、日本、德国等等。</p>

          <h4>快速</h4>
          <p>基于遍布全球的ShadowSocks帐号网络，一定能找到一个靠近你所在网络的！</p>

          <h4>方便</h4>
          <p>面对ShadowSocks官方客户端进行开发，支持ShadowSocks官方客户端的二维码扫描功能，以及针对PC用户的Email获取帐号功能！</p>
        </div>

        <div class="col-lg-6">
          <h4>自由</h4>
          <p>你有你的自由，你可以自由、轻松地选择任意一个帐号，更快地上网</p>

          <h4>免费</h4>
          <p>感谢各位ShadowSocks帐号分享者的奉献，因此，这一切都是免费的！</p>

          <h4>安全</h4>
          <p>通过AES-256-CFB、RC2-CFB算法，防止你的数据被第三方窃取。</p>
        </div>
      </div>

      <div class="footer">
        <p>&copy; ShadowSocks.NET 2014</p>
      </div>

    </div> <!-- /container -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-48072444-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
function win(){
    if (navigator.appVersion.match("Windows NT 6"))
        return true
    alert("仅兼容 Windows 系统");
    return false;
}
</script>
</body>
</html>
